docs/多路判断.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 多路判断
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.8@aae2be0913b8c6f0b80cff58e08d7a8b4c214569b41778413fcaea204561ff16
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1767149382141-source-1767149397462-target
      source: '1767149382141'
      sourceHandle: source
      target: '1767149397462'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: if-else
      id: 1767149397462-1-1767149439650-target
      source: '1767149397462'
      sourceHandle: '1'
      target: '1767149439650'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1767149397462-2-1767149487367-target
      source: '1767149397462'
      sourceHandle: '2'
      target: '1767149487367'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1767149397462-1767149430406-17671495108080-target
      source: '1767149397462'
      sourceHandle: '1767149430406'
      target: '17671495108080'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1767149439650-true-1767149519863-target
      source: '1767149439650'
      sourceHandle: 'true'
      target: '1767149519863'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1767149439650-5e1acb25-30f9-4c2b-9cda-eda35c70718b-1767149528665-target
      source: '1767149439650'
      sourceHandle: 5e1acb25-30f9-4c2b-9cda-eda35c70718b
      target: '1767149528665'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1767149439650-false-1767149537638-target
      source: '1767149439650'
      sourceHandle: 'false'
      target: '1767149537638'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables:
        - default: ''
          hint: ''
          label: input
          max_length: 48
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: input
      height: 109
      id: '1767149382141'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: 决策类
        - id: '2'
          name: 问答类
        - id: '1767149430406'
          name: 闲聊类
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        query_variable_selector:
        - '1767149382141'
        - input
        selected: false
        title: 问题分类器
        type: question-classifier
        vision:
          enabled: false
      height: 208
      id: '1767149397462'
      position:
        x: 373
        y: 268
      positionAbsolute:
        x: 373
        y: 268
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 02e7d2d0-9516-40f3-b8aa-f290ca8176ad
            value: 午饭
            varType: string
            variable_selector:
            - '1767149382141'
            - input
          id: 'true'
          logical_operator: and
        - case_id: 5e1acb25-30f9-4c2b-9cda-eda35c70718b
          conditions:
          - comparison_operator: contains
            id: a438be7b-4ec1-4327-996a-aa16cd56d066
            value: 晚饭
            varType: string
            variable_selector:
            - '1767149382141'
            - input
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 172
      id: '1767149439650'
      position:
        x: 662
        y: 145
      positionAbsolute:
        x: 662
        y: 145
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: ec60afc4-ab8d-49df-a477-4da02ea3ebd4
          role: system
          text: 根据用户提问信息回答
        selected: true
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1767149487367'
      position:
        x: 662
        y: 356
      positionAbsolute:
        x: 662
        y: 356
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: ec60afc4-ab8d-49df-a477-4da02ea3ebd4
          role: system
          text: 根据用户提问信息回答
        selected: false
        title: LLM (1)
        type: llm
        vision:
          enabled: false
      height: 88
      id: '17671495108080'
      position:
        x: 667
        y: 510
      positionAbsolute:
        x: 667
        y: 510
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: ''
        title: LLM 3
        type: llm
        vision:
          enabled: false
      height: 52
      id: '1767149519863'
      position:
        x: 985
        y: 156
      positionAbsolute:
        x: 985
        y: 156
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ''
          provider: ''
        prompt_template:
        - role: system
          text: ''
        title: LLM 4
        type: llm
        vision:
          enabled: false
      height: 52
      id: '1767149528665'
      position:
        x: 985
        y: 239
      positionAbsolute:
        x: 985
        y: 239
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: ''
        code_language: python3
        outputs: {}
        title: 代码执行
        type: code
        variables: []
      height: 52
      id: '1767149537638'
      position:
        x: 1000
        y: 334
      positionAbsolute:
        x: 1000
        y: 334
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -721
      y: -78
      zoom: 1
  rag_pipeline_variables: []
